@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #e58411;
    --color-primary-rgb: 229, 132, 17;
    --red-tag: #e01a29;
    --red-tag-darker: #a7000d;
    --spacing-padding-container: 80px;
    /* ... */
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
