:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

* {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  color: #333;
}

#root {
  display: flex;
  justify-content: center;
}

*::-webkit-scrollbar {
  width: 6px;
  opacity: 0.5;
}

*::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #f7f7f7;
  border: 1px solid #f7f7f7;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.15);
  opacity: 0.5;
}

/* Thay đổi màu nền và màu chữ khi văn bản được bôi đen */
::selection {
  background: #3aa39f; /* Màu nền khi bôi đen */
  color: #ffffff; /* Màu chữ khi bôi đen */
}

/* Thêm lựa chọn cho trình duyệt Webkit (Chrome, Safari, v.v.) */
::-webkit-selection {
  background: #3aa39f; /* Màu nền khi bôi đen */
  color: #ffffff; /* Màu chữ khi bôi đen */
}

/* Thêm lựa chọn cho trình duyệt Mozilla (Firefox) */
::-moz-selection {
  background: #3aa39f; /* Màu nền khi bôi đen */
  color: #ffffff; /* Màu chữ khi bôi đen */
}
